In [1]:
# Dependencies and Setup
from census import Census
from us import states
from config import (census_key, gkey)
import us
import gmaps
import os
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from sodapy import Socrata
import requests
import json

In [2]:
c = Census(census_key, year=2016)
census_data = c.acs5.get(('B01003_001E', 'B17001_002E','B19013_001E'), {'for': 'county:*'})

# Convert to DataFrame
census_df = pd.DataFrame(census_data)

# Column Reordering
census_df= census_df.rename(columns={'B01003_001E': 'Population',
                                      'B17001_002E': 'Poverty Count',
                                      'B19013_001E': 'Median Household Income',
                                      'state':'State',
                                     'county':'County'})
# Add in Poverty Rate (Poverty Count / Population)
census_df['Poverty Rate'] = 100 * \
    census_df['Poverty Count'].astype(
        int) / census_df['Population'].astype(int)

In [3]:
# Clean Census Data - Dont run unless you have some time
census_df=census_df[census_df.State != '72']
census_df=census_df.reset_index()
state=census_df['State']
county=census_df['County']
popden=[]
baseurl='https://api.census.gov/data/2018/pep/population?get=DENSITY&for=county:'
for i in range(len(state)):
    try:
        url=baseurl+county[i]+'&in=state:'+state[i]+'&key='+census_key
        response = requests.get(url).json()
        response = float(response[1][0])
        popden.append(response)
    except:
        popden.append(np.nan)
census_df['Population Density']=popden
census_df['FIPS']=census_df['State']+census_df['County']
census_df=census_df[['FIPS','Population','Population Density','Median Household Income','Poverty Rate']]
census_df

,FIPS,Population,Population Density,Median Household Income,Poverty Rate
0,05015,27690.0,44.800928,38145.0,17.295052
1,05017,11189.0,16.199614,29628.0,29.064260
2,05019,22684.0,25.472317,35595.0,20.992770
3,05021,15202.0,23.217737,32404.0,21.970793
4,05023,25587.0,45.084707,41717.0,15.246023
...,...,...,...,...,...
3137,56037,44812.0,4.128808,68233.0,10.863162
3138,56039,22623.0,5.774803,75594.0,7.293462
3139,56041,20893.0,9.751068,53323.0,16.570143
3140,56043,8351.0,3.522174,46212.0,14.345587
3141,56045,7175.0,2.905332,55640.0,13.965157

In [4]:
# Read in Medicare.gov hospital compare url: https://data.medicare.gov/resource/xubh-q36u.json
dataset='xubh-q36u'
client = Socrata('data.medicare.gov', None)
hospitals = client.get(dataset,limit=6000)
hospitals_df = pd.DataFrame(hospitals)

# Clean Hospital Data
hospitals_df=hospitals_df[['hospital_name','city','state','county_name','hospital_overall_rating']]
hospitals_df=hospitals_df[hospitals_df.hospital_overall_rating != 'Not Available']
hospitals_df=hospitals_df.reset_index()
hospitals_df=hospitals_df.drop(columns='index')
hospitals_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,hospital_name,city,state,county_name,hospital_overall_rating
0,GOODLAND REGIONAL MEDICAL CENTER,GOODLAND,KS,SHERMAN,3
1,MARIA PARHAM MEDICAL CENTER,HENDERSON,NC,VANCE,2
2,ALLEGHANY COUNTY MEMORIAL HOSPITAL,SPARTA,NC,ALLEGHANY,2
3,ADVENTIST HEALTHCARE WHITE OAK MEDICAL CENTER,SILVER SPRING,MD,MONTGOMERY,3
4,ADVENTHEALTH LAKE WALES,LAKE WALES,FL,POLK,1
...,...,...,...,...,...
3573,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,DAVIDSON,3
3574,JENNERSVILLE HOSPITAL,WEST GROVE,PA,CHESTER,3
3575,MARINERS HOSPITAL,TAVERNIER,FL,MONROE,5
3576,JEWISH HOSPITAL - SHELBYVILLE,SHELBYVILLE,KY,SHELBY,4
3577,GULF BREEZE HOSPITAL,GULF BREEZE,FL,SANTA ROSA,5

In [5]:
# Define Urls for the Johns Hopkins Data
confirm_url='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
death_url='https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv'

# Read in COVID-19 Files
confirm_df=pd.read_csv(confirm_url, error_bad_lines=False)
death_df=pd.read_csv(death_url, error_bad_lines=False)

In [6]:
# Clean Confirm data Rows
confirm_df=confirm_df[confirm_df.Admin2 != 'Unassigned']
confirm_df=confirm_df.dropna()
confirm_df=confirm_df[~confirm_df['Admin2'].astype(str).str.startswith('Out of')]
confirm_df=confirm_df[confirm_df.Admin2 != 'Out of*']
confirm_df=confirm_df.reset_index()
confirm_df['FIPS']=confirm_df.FIPS.map('{0:0>5.0f}'.format)

# Clean Death Data Rows
death_df=death_df[death_df.Admin2 != 'Unassigned']
death_df=death_df.dropna()
death_df=death_df[~death_df['Admin2'].astype(str).str.startswith('Out of')]
death_df=death_df[death_df.Admin2 != 'Out of*']
death_df=death_df.reset_index()

In [7]:
# Create the disease DataFrame
disease_df=confirm_df[['FIPS','Admin2','Province_State','Lat','Long_']]
disease_df= disease_df.rename(columns={'Admin2': 'County',
                                      'Province_State': 'State',
                                      'Lat': 'Latitude',
                                      'Long_':'Longitude'})
disease_df
confirm_5=[]
confirm_10=[]
confirm_20=[]
confirm_50=[]
death_5=[]
death_10=[]
death_20=[]
death_50=[]
[r,c]=confirm_df.shape

for j in range (0,r):
    for i in range (12,c):
        if confirm_df.iloc[j, i]>0:
            break
        start=i+1
    try:
        response=confirm_df.iloc[j, start+5]
        confirm_5.append(response)
    except:
        confirm_5.append(np.nan)
    try:
        response=confirm_df.iloc[j, start+10]
        confirm_10.append(response)
    except:
        confirm_10.append(np.nan)
    try:
        response=confirm_df.iloc[j, start+20]
        confirm_20.append(response)
    except:
        confirm_20.append(np.nan)
    try:
        response=confirm_df.iloc[j, start+50]
        confirm_50.append(response)
    except:
        confirm_50.append(np.nan)
    try:
        response=death_df.iloc[j, start+6]
        death_5.append(response)
    except:
        death_5.append(np.nan)
    try:
        response=death_df.iloc[j, start+11]
        death_10.append(response)
    except:
        death_10.append(np.nan)
    try:
        response=death_df.iloc[j, start+21]
        death_20.append(response)
    except:
        death_20.append(np.nan)
    try:
        response=death_df.iloc[j, start+51]
        death_50.append(response)
    except:
        death_50.append(np.nan)
disease_df['confirm_5']=confirm_5
disease_df['confirm_10']=confirm_10
disease_df['confirm_20']=confirm_20
disease_df['confirm_50']=confirm_50
disease_df['death_5']=death_5
disease_df['death_10']=death_10
disease_df['death_20']=death_20
disease_df['death_50']=death_50

In [8]:
#Merge County Census Data with County COVID data
merge_df = pd.merge(disease_df, census_df, on="FIPS")
merge_df

,FIPS,County,State,Latitude,Longitude,confirm_5,confirm_10,confirm_20,confirm_50,death_5,death_10,death_20,death_50,Population,Population Density,Median Household Income,Poverty Rate
0,01001,Autauga,Alabama,32.539527,-86.644082,6.0,12.0,NaN,NaN,0.0,0.0,NaN,NaN,55049.0,93.534505,53099.0,12.165525
1,01003,Baldwin,Alabama,30.727750,-87.722071,2.0,4.0,29.0,NaN,0.0,0.0,1.0,NaN,199510.0,137.138546,51365.0,12.806877
2,01005,Barbour,Alabama,31.868263,-85.387129,3.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,26614.0,28.114060,33956.0,23.427519
3,01007,Bibb,Alabama,32.996421,-87.125115,4.0,9.0,NaN,NaN,0.0,0.0,NaN,NaN,22572.0,35.986169,39776.0,15.018607
4,01009,Blount,Alabama,33.982109,-86.567906,5.0,10.0,NaN,NaN,0.0,0.0,NaN,NaN,57704.0,89.697955,46212.0,16.361084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater,Wyoming,41.659439,-108.882788,1.0,4.0,NaN,NaN,0.0,0.0,NaN,NaN,44812.0,4.128808,68233.0,10.863162
3138,56039,Teton,Wyoming,43.935225,-110.589080,2.0,14.0,44.0,NaN,0.0,0.0,0.0,NaN,22623.0,5.774803,75594.0,7.293462
3139,56041,Uinta,Wyoming,41.287818,-110.547578,3.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,20893.0,9.751068,53323.0,16.570143
3140,56043,Washakie,Wyoming,43.904516,-107.680187,1.0,4.0,NaN,NaN,0.0,0.0,NaN,NaN,8351.0,3.522174,46212.0,14.345587
3141,56045,Weston,Wyoming,43.839612,-104.567488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7175.0,2.905332,55640.0,13.965157

In [9]:
merge_df.to_csv('counties.csv',index=False,header=True)
hospitals_df.to_csv('hospitals.csv',index=False,header=True)