In [2]:
# Dependencies and Setup
from census import Census
from us import states
from config import (census_key, gkey)
import us
import gmaps
import os
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from sodapy import Socrata
import requests
import json

In [3]:
file='counties.csv'
data_df=pd.read_csv(file,encoding='ISO-8859-1')
data_df

,FIPS,County,State,Latitude,Longitude,confirm_5,confirm_10,confirm_20,confirm_50,death_5,death_10,death_20,death_50,Population,Population Density,Median Household Income,Poverty Rate
0,1001,Autauga,Alabama,32.539527,-86.644082,6.0,12.0,NaN,NaN,0.0,0.0,NaN,NaN,53155.0,93.534505,53255.0,10.578497
1,1003,Baldwin,Alabama,30.727750,-87.722071,2.0,4.0,29.0,NaN,0.0,0.0,1.0,NaN,175791.0,137.138546,50147.0,12.068877
2,1005,Barbour,Alabama,31.868263,-85.387129,3.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,27699.0,28.114060,33219.0,22.394310
3,1007,Bibb,Alabama,32.996421,-87.125115,4.0,9.0,NaN,NaN,0.0,0.0,NaN,NaN,22610.0,35.986169,41770.0,12.516586
4,1009,Blount,Alabama,33.982109,-86.567906,5.0,10.0,NaN,NaN,0.0,0.0,NaN,NaN,56692.0,89.697955,45549.0,13.247019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,Sweetwater,Wyoming,41.659439,-108.882788,1.0,4.0,NaN,NaN,0.0,0.0,NaN,NaN,42266.0,4.128808,69828.0,8.060853
3136,56039,Teton,Wyoming,43.935225,-110.589080,2.0,14.0,44.0,NaN,0.0,0.0,0.0,NaN,20802.0,5.774803,70271.0,8.234785
3137,56041,Uinta,Wyoming,41.287818,-110.547578,3.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,20537.0,9.751068,58346.0,11.988119
3138,56043,Washakie,Wyoming,43.904516,-107.680187,1.0,4.0,NaN,NaN,0.0,0.0,NaN,NaN,8271.0,3.522174,48379.0,5.513239
3139,56045,Weston,Wyoming,43.839612,-104.567488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7066.0,2.905332,53853.0,7.642230

In [4]:
file='hospitals.csv'
hospitals_df=pd.read_csv(file,encoding='ISO-8859-1')
hospitals_df

,hospital_name,city,state,county_name,hospital_overall_rating
0,GOODLAND REGIONAL MEDICAL CENTER,GOODLAND,KS,SHERMAN,3
1,MARIA PARHAM MEDICAL CENTER,HENDERSON,NC,VANCE,2
2,ALLEGHANY COUNTY MEMORIAL HOSPITAL,SPARTA,NC,ALLEGHANY,2
3,ADVENTIST HEALTHCARE WHITE OAK MEDICAL CENTER,SILVER SPRING,MD,MONTGOMERY,3
4,ADVENTHEALTH LAKE WALES,LAKE WALES,FL,POLK,1
...,...,...,...,...,...
3573,VANDERBILT UNIVERSITY MEDICAL CENTER,NASHVILLE,TN,DAVIDSON,3
3574,JENNERSVILLE HOSPITAL,WEST GROVE,PA,CHESTER,3
3575,MARINERS HOSPITAL,TAVERNIER,FL,MONROE,5
3576,JEWISH HOSPITAL - SHELBYVILLE,SHELBYVILLE,KY,SHELBY,4
3577,GULF BREEZE HOSPITAL,GULF BREEZE,FL,SANTA ROSA,5